In [2]:
%store -r Denver_grouping

In [4]:
Denver_grouping.sum()

                                        carrier_ct  target
airport carrier carrier_name
DEN     AA      American Airlines Inc.      718.90      11
        AS      Alaska Airlines Inc.         71.55       6
        B6      JetBlue Airways              93.23       9
        DL      Delta Air Lines Inc.        427.88      11
        F9      Frontier Airlines Inc.      763.01      11
        NK      Spirit Air Lines            124.74      11
        OO      SkyWest Airlines Inc.      1414.07      11
        UA      United Air Lines Inc.      2077.87      11
        VX      Virgin America               23.79       5
        WN      Southwest Airlines Co.     2469.61      11