# DAT-DEN-03: Unit 1 Review

#### In this notebook, we are reviewing and practicing Unit 1 skills by solving as much as you can out of the following 21 exercises.
<a id='Table of Contents'></a>

- [Part A: Getting and Knowing your Data](#Part A: Getting and Knowing your Data)
    * [Exercise A.1. Chipotle](#Exercise A.1. Chipotle Data)
    * [Exercise A.2. Occupation](#Exercise A.2. Occupation Data)
    
    
- [Part B: Filtering and Sorting](#Part B: Filtering and Sorting)
    * [Exercise B.1. Chipotle](#Exercise B.1. Chipotle Data)
    * [Exercise B.2. Euro Cup 2012](#Exercise B.2. - Euro Cup 2012 Data)
    * [Exercise B.3. Fictional Army](#Exercise B.3. Fictional Army Data)
    
    
- [Part C: Grouping](#Part C: Grouping)
    * [Exercise C.1. Alcohol Consumption](#Exercise C.1. Alcohol Consumption)
    * [Exercise C.2. Occupation](#Exercise C.2. Occupation)
    * [Exercise C.3. Regiment](#Exercise C.3. Regiment)
    
    
- [Part D: Applying](#Part D: Applying)
    * [Exercise D.1. Alcohol Consumption](#Exercise D.1. Alcohol Consumption)
    * [Exercise D.2. United States - Crime Rates](#Exercise D.2. United States - Crime Rates)
    

- [Part E: Merging](#Part E: Merging)
    * [Exercise E.1. MPG](#Exercise E.1. MPG)
    * [Exercise E.2. Fictitious Names](#Exercise E.2. Fictitious Names)
    
    
- [Part F: Analyzing with Statistics](#Part F: Analyzing with Statistics)
    * [Exercise F.1. US Baby Names](#Exercise F.1. US Baby Names)
    * [Exercise F.2. Wind Statistics](#Exercise F.2. Wind Statistics)
    
    
- [Part G: Visualizing](#Part G: Visualizing)
    * [Exercise G.1. Chipotle](#Exercise G.1. Chipotle Data)
    * [Exercise G.2. Online Retails](#Exercise G.2. Online Retails)    
    * [Exercise G.3. Scores](#Exercise G.3. Scores)
    * [Exercise G.4. Tips](#Exercise G.4. Tips)
    * [Exercise G.5. Titanic](#Exercise G.5. Titanic)
    
    
- [Part H: Handling Time Series](#Part H: Handling Time Series)
    * [Exercise H.1. Apple Stock](#Exercise H.1. Apple Stock)
    * [Exercise H.2. Financial Data](#Exercise H.2. Financial Data)

<a id='Part A: Getting and Knowing your Data'></a>
# Part A: Getting and Knowing your Data

<a id='Exercise A.1. Chipotle Data'></a>
## Exercise A.1. Chipotle Data

### Step A.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import os

### Step A.1.2. Import the dataset from our dataset file: "chipotle.csv"

### Step A.1.3. Assign it to a variable called chipo.

### Step A.1.4. See the first 10 entries

### Step A.1.5. What is the number of observations in the dataset?

### Step A.1.6. What is the number of columns in the dataset?

### Step A.1.7. Print the name of all the columns.

### Step A.1.8. How is the dataset indexed?

In [ ]:
# try .index

### Step A.1.9. Which was the most ordered item?

In [ ]:
# use groupby

### Step A.1.10. How many items were ordered?

In [ ]:
# use groupby

### Step A.1.11. What was the most ordered item in the choice_description column?

In [ ]:
# use groupby

### Step A.1.12. How many items were orderd in total?

In [ ]:
# use .sum()

### Step A.1.13. Turn the item price into a float

In [ ]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

### Step A.1.14. How much was the revenue for the period in the dataset?

In [ ]:
# Revenue = Quantity * Prince

### Step A.1.15. How many orders were made in the period?

In [ ]:
# use value_counts().count()

### Step A.1.16. What is the average amount per order?

In [ ]:
# use groupby().sum().mean()

### Step A.1.17. How many different items are sold?

In [ ]:
# use value_counts().count()

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise A.2. Occupation Data'></a>
## Exercise A.2. Occupation Data

### Step A.2.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step A.2.2. Import the dataset from our dataset file: "occupation.csv"

### Step A.2.3. Assign it to a variable called users and use the 'user_id' as index

### Step A.2.4. See the first 25 entries

### Step A.2.5. See the last 10 entries

### Step A.2.6. What is the number of observations in the dataset?

### Step A.2.7. What is the number of columns in the dataset?

### Step A.2.8. Print the name of all the columns.

### Step A.2.9. How is the dataset indexed?

In [ ]:
# "the index"

### Step A.2.10. What is the data type of each column?

In [ ]:
# use .dtypes

### Step A.2.11. Print only the occupation column

### Step A.2.12. How many different occupations there are in this dataset?

In [1]:
# use .unique()

### Step A.2.13. What is the most frequent occupation?

In [ ]:
# use .value_counts()

### Step A.2.14. Summarize the DataFrame.

### Step A.2.15. Summarize all the columns

In [ ]:
users.describe(include = "all") #Notice is only the numeric column

### Step A.2.16. Summarize only the occupation column

### Step A.2.17. What is the mean age of users?

### Step A.2.18. What is the age with least occurrence?

[Return to the main menu](#Table of Contents)

***
***

<a id='Part B: Filtering and Sorting'></a>
# Part B: Filtering and Sorting

<a id='Exercise B.1. Chipotle Data'></a>
## Exercise B.1. Chipotle Data

### Step B.1.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step B.1.2. Import the dataset from our dataset file: "chipotle.csv"

### Step B.1.3. Assign it to a variable called chipo.

### Step B.1.4. How many products cost more than $10.00?

In [ ]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price]

# reassign the column with the cleaned prices
chipo.item_price = prices 

# make the comparison
###  Fill here ###

### Step B.1.5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
# delete the duplicates in item_name and quantity
# use .drop_duplicates

# select only the products with quantity equals to 1

# select only the item_name and item_price columns

# sort the values from the most to less expensive
# use .sort_values

### Step B.1.6. Sort by the name of the item

### Step B.1.7. What was the quantity of the most expensive item ordered?

### Step B.1.8. How many times were a Veggie Salad Bowl ordered?

### Step B.1.9. How many times people orderd more than one Canned Soda?

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise B.2. - Euro Cup 2012 Data'></a>
## Exercise B.2. - Euro Cup 2012 Data

### Step B.2.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step B.2.2. Import the dataset from our dataset file "euro2012.csv"

### Step B.2.3. Assign it to a variable called euro12.

### Step B.2.4. Select only the Goal column.

### Step B.2.5. How many team participated in the Euro2012?

### Step B.2.6. What is the number of columns in the dataset?

### Step B.2.7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

### Step B.2.8. Sort the teams by Red Cards, then to Yellow Cards

### Step B.2.9. Calculate the mean Yellow Cards given per Team

### Step B.2.10. Filter teams that scored more than 6 goals

### Step B.2.11. Select the teams that start with G

In [ ]:
# use .str.startswith('G')

### Step B.2.12. Select the first 7 columns

### Step B.2.13. Select all columns except the last 3.

In [ ]:
# use negative to exclude the last 3 columns
euro12.iloc[: , :-3]

### Step B.2.14. Present only the Shooting Accuracy from England, Italy and Russia

In [ ]:
# .loc is another way to slice, using the labels of the columns and indexes

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise B.3. Fictional Army Data'></a>
## Exercise B.3. Fictional Army Data

### Step B.3.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step B.3.2. This is the data given as a dictionary

In [ ]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step B.3.3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names

### Step B.3.4. Set the 'origin' colum as the index of the dataframe

### Step B.3.5. Print only the column veterans

### Step B.3.6. Print the columns 'veterans' and 'deaths'

### Step B.3.7. Print the name of all the columns.

### Step B.3.8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step B.3.9. Select the rows 3 to 7 and the columns 3 to 6

### Step B.3.10. Select every row after the fourth row

### Step B.3.11. Select every row up to the 4th row

### Step B.3.12. Select the 3rd column up to the 7th column

### Step B.3.13. Select rows where df.deaths is greater than 50

### Step B.3.14. Select rows where df.deaths is greater than 500 or less than 50

### Step B.3.15. Select all the regiments not named "Dragoons"

### Step B.3.16. Select the rows called Texas and Arizona

### Step B.3.17. Select the third cell in the row named Arizona

### Step B.3.18. Select the third cell down in the column named deaths

[Return to the main menu](#Table of Contents)

***
***

<a id='Part C: Grouping'></a>
# Part C: Grouping

<a id='Exercise C.1. Alcohol Consumption'></a>
## Exercise C.1. Alcohol Consumption

### Step C.1.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step C.1.2. Import the dataset from our dataset: "drinks.csv"

### Step C.1.3. Assign it to a variable called drinks.

### Step C.1.4. Which continent drinks more beer on average?

### Step C.1.5. For each continent print the statistics for wine consumption.

In [ ]:
# use groupby

### Step C.1.6. Print the mean alcoohol consumption per continent for every column

### Step C.1.7. Print the median alcoohol consumption per continent for every column

### Step C.1.8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise C.2. Occupation'></a>
## Exercise C.2. Occupation

### Step C.2.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step C.2.2. Import the dataset from our dataset: "occupation.csv"

### Step C.2.3. Assign it to a variable called users.

### Step C.2.4. Discover what is the mean age per occupation

### Step C.2.5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
# create a function
def gender_to_numeric(x):
    if x == 'M':
        return 1
    if x == 'F':
        return 0

# apply the function to the gender column and create a new column

# sort to the most male

### Step C.2.6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby('occupation').age.agg(['min', 'max'])

### Step C.2.7. For each combination of occupation and gender, calculate the mean age

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise C.3. Regiment'></a>
## Exercise C.3. Regiment

### Step C.3.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step C.3.2. Create the DataFrame with the following values:

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step C.3.3. Assign it to a variable called regiment.
#### Don't forget to name each column

### Step C.3.4. What is the mean preTestScore from the regiment Nighthawks?

### Step C.3.5. Present general statistics by company

### Step C.3.6. What is the mean each company's preTestScore?

### Step C.3.7. Present the mean preTestScores grouped by regiment and company

### Step C.3.9. Group the entire dataframe by regiment and company

### Step C.3.10. What is the number of observations in each regiment and company

### Step C.3.11. Iterate over a group and print the name and the whole data from the regiment

In [ ]:
# Group the dataframe by regiment, and for each regiment,

    # print the name of the regiment
   
    # print the data of that regiment

[Return to the main menu](#Table of Contents)

***
***

<a id='Part D: Applying'></a>
# Part D: Applying

<a id='Exercise D.1. Alcohol Consumption'></a>
## Exercise D.1. Alcohol Consumption

### Step D.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy

### Step D.1.2. Import the dataset from out dataset: "student-mat.csv"

### Step D.1.3. Assign it to a variable called df.

### Step D.1.4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

### Step D.1.5. Create a lambda function that captalize strings.

In [ ]:
captalizer = lambda x: x.upper()

### Step D.1.6. Capitalize both Mjob and Fjob

### Step D.1.7. Print the last elements of the data set.

### Step D.1.8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

### Step D.1. 9. Create a function called majority that return a boolean value to a new column called legal_drinker

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise D.2. United States - Crime Rates'></a>
## Exercise D.2. United States - Crime Rates

### Step D.2.1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

### Step D.2.2. Import the dataset from our dataset: "crimes.csv"

### Step D.2.3. Assign it to a variable called crime.

### Step D.2.4. What is the type of the columns?

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step D.2.5. Convert the type of the column Year to datetime64

In [ ]:
# pd.to_datetime(crime)
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.info()

### Step D.2.6. Set the Year column as the index of the dataframe

### Step D.2.7. Delete the Total column

### Step D.2.8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [ ]:
# To learn more about .resample (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)
# To learn more about Offset Aliases (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

# Uses resample to sum each decade
crimes = crime.resample('10AS').sum()

# Uses resample to get the max value only for the "Population" column
population = crime['Population'].resample('10AS').max()

# Updating the "Population" column
crimes['Population'] = population

crimes

### Step D.2.9. What is the mos dangerous decade to live in the US?

In [ ]:
# apparently the 90s was a pretty dangerous time in the US
crime.idxmax(0)

[Return to the main menu](#Table of Contents)

***
***

<a id='Part E: Merging'></a>
# Part E: Merging

<a id='Exercise E.1. MPG'></a>
## Exercise E.1. MPG

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step E.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step E.1.2. Import the two datasets: "cars1.csv" and "cars2.csv"

   ### Step E.1.3. Assign each to a to a variable called cars1 and cars2

### Step E.1.4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

### Step E.1.5. What is the number of observations in each dataset?

### Step E.1.6. Join cars1 and cars2 into a single DataFrame called cars

### Step E.1.7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

### Step E.1.8. Add the column owners to cars

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise E.2. Fictitious Names'></a>
## Exercise E.2. Fictitious Names

### Step E.2.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step E.2.2. Create the 3 DataFrames based on the followin raw data

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step E.2.3. Assign each to a variable called data1, data2, data3

### Step E.2.4. Join the two dataframes along rows and assign all_data

### Step E.2.5. Join the two dataframes along columns and assing to all_data_col

### Step E.2.6. Print data3

### Step E.2.7. Merge all_data and data3 along the subject_id value

In [ ]:
# use merge .. on

### Step E.2.8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [ ]:
# use merge .. on .. how = inner/outer

### Step E.2.9. Merge all values in data1 and data2, with matching records from both sides where available.

In [ ]:
# use merge .. on .. how = inner/outer

[Return to the main menu](#Table of Contents)

***
***

<a id='Part F: Analyzing with Statistics'></a>
# Part F: Analyzing with Statistics

<a id='Exercise F.1. US Baby Names'></a>
## Exercise F.1. US Baby Names


### Step F.1.1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step F.1.2. Import data from our dataset: "baby_names.csv"

### Step F.1.3. Assign it to a variable called baby_names.

### Step F.1.4. See the first 10 entries

### Step F.1.5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
# deletes Unnamed: 0
del baby_names['Unnamed: 0']

# deletes Id

### Step F.1.6. Is there more male or female names in the dataset?

### Step F.1.7. Group the dataset by name and assign to names

In [ ]:
# you don't want to sum the Year column, so you delete it
# del baby_names["Year"]

# group the data


# print the first 5 observations

# print the size of the dataset

# sort it from the biggest value to the smallest one

### Step F.1.8. How many different names exist in the dataset?

In [ ]:
# as we have already grouped by the name, all the names are unique already. 
# get the length of names

### Step F.1.9. What is the name with most occurrences?

### Step F.1.10. How many different names have the least occurrences?

### Step F.1.11. What is the median name occurrence?

### Step F.1.12. What is the standard deviation of names?

### Step F.1.13. Get a summary with the mean, min, max, std and quartiles.

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise F.2. Wind Statistics'></a>
## Exercise F.2. Wind Statistics

### Step F.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import datetime

### Step F.1.2. Import the data from our dataset: "wind.data"

### Step F.1.3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [ ]:
# parse_dates gets 0, 1, 2 columns and parses them as the index
data = pd.read_table(os.path.join('datasets',"wind.data"), sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

### Step F.1.4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [ ]:
# The problem is that the dates are 2061 and so on...

# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

### Step F.1.5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [ ]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()
# data.info()

### Step F.1.6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [ ]:
# "Number of non-missing values for each location: "

### Step F.1.7. Compute how many non-missing values there are in total.

In [ ]:
# number of columns minus the number of missing values for each location

### Step F.1.8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [ ]:
# print 'Mean over all values is: '

### Step F.1.9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

### Step F.1.10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

### Step F.1.11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
# print "January windspeeds:"

# creates a new column 'date' and gets the values from the index
data['date'] = data.index

# creates a column for each value from date
data['month'] = data['date'].apply(lambda date: date.month)
data['year'] = data['date'].apply(lambda date: date.year)
data['day'] = data['date'].apply(lambda date: date.day)

# gets all value from the month 1 and assign to janyary_winds
january_winds = data.query('month == 1')

# gets the mean from january_winds, using .loc to not print the mean of month, year and day
january_winds.loc[:,'RPT':"MAL"].mean()

[Return to the main menu](#Table of Contents)

***
***

<a id='Part G: Visualizing'></a>
# Part G: Visualizing

For templates in matplotlib and Seaborn, Check the following [website](https://python-graph-gallery.com)

<a id='Exercise G.1. Chipotle'></a>
## Exercise G.1. Chipotle

### Step G.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import collections
import matplotlib.pyplot as plt 

# set this so the 
%matplotlib inline

### Step G.1.2. Import the data from our dataset: "chipotle.csv"

### Step G.1.3. Assign it to a variable called chipo.

### Step G.1.4. See the first 10 entries

### Step G.1.5. Create a scatterplot with the number of items orderered per order price
#### Hint: Price should be in the X-axis and Items ordered in the Y-axis

In [ ]:
# create a list of prices
chipo.item_price = [float(value[1:-1]) for value in chipo.item_price] # strip the dollar sign and trailing space

# then groupby the orders and sum

# creates the scatterplot
# plt.scatter(orders.quantity, orders.item_price, s = 50, c = 'green')

# Set the title and labels

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise G.2. Online Retails'></a>
## Exercise G.2. Online Retails

### Step G.2.1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

### Step G.2.2. Import the data from our dataset: "Online_Retail.csv"

### Step G.2.3. Assign it to a variable called online_rt

### Step G.2.4. Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK

In [ ]:
# group by the Country
countries = online_rt.groupby('Country').sum()

# sort the value and get the first 10 after UK
countries = countries.sort_values(by = 'Quantity',ascending = False)[1:11]

# create the plot

# Set the title and labels

# show the plot

### Step G.2.5.  Exclude negative Quatity entries

### Step G.2.6. Create a scatterplot with the Quantity per UnitPrice by CustomerID for the top 3 Countries

In [ ]:
# groupby CustomerID
customers = online_rt.groupby(['CustomerID','Country']).sum()

# there is an outlier with negative price
customers = customers[customers.UnitPrice > 0]

# get the value of the index and put in the column Country
customers['Country'] = customers.index.get_level_values(1)

# top three countries
top_countries =  ['Netherlands', 'EIRE', 'Germany']

# filter the dataframe to just select ones in the top_countries
customers = customers[customers['Country'].isin(top_countries)]

################
# Grap Section #
################

# creates the FaceGrid

# map over a make a scatterplot

# adds legend

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise G.3. Scores'></a>
## Exercise G.3. Scores

### Step G.3.1. Import the necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

### Step G.3.2. Create the DataFrame it should look like below.

In [ ]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
            'female': [0, 1, 1, 0, 1],
            'age': [42, 52, 36, 24, 73], 
            'preTestScore': [4, 24, 31, 2, 3],
            'postTestScore': [25, 94, 57, 62, 70]}

df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'female', 'preTestScore', 'postTestScore'])

df

### Step G.3.3. Create a Scatterplot of preTestScore and postTestScore, with the size of each point determined by age
#### Hint: Don't forget to place the labels

In [ ]:
plt.scatter(df.preTestScore, df.postTestScore, s=df.age)

#set labels and titles
plt.title("preTestScore x postTestScore")
plt.xlabel('preTestScore')
plt.ylabel('preTestScore')

### Step G.3.4. Create a Scatterplot of preTestScore and postTestScore.
### This time the size should be 4.5 times the postTestScore and the color determined by sex

In [ ]:
plt.scatter(df.preTestScore, df.postTestScore, s= df.postTestScore * 4.5, c = df.female)

#set labels and titles
plt.title("preTestScore x postTestScore")
plt.xlabel('preTestScore')
plt.ylabel('preTestScore')

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise G.4. Tips'></a>
## Exercise G.4. Tips

### Step G.4.1. Import the necessary libraries:

In [ ]:
import pandas as pd

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns


# print the graphs in the notebook
% matplotlib inline

# set seaborn style to white
sns.set_style("white")

### Step G.4.2. Import data from our dataset: "tips.csv"

### Step G.4.3. Assign it to a variable called tips

### Step G.4.4. Delete the Unnamed 0 column

In [ ]:
del tips['Unnamed: 0']

tips.head()

### Step G.4.5. Plot the total_bill column histogram

In [ ]:
# create histogram

# set lables and titles

### Step G.4.6. Create a scatter plot presenting the relationship between total_bill and tip

### Step G.4.7.  Create one image with the relationship of total_bill, tip and size.
#### Hint: It is just one function.

### Step G.4.8. Present the relationship between days and total_bill value

### Step G.4.9. Create a scatter plot with the day as the y-axis and tip as the x-axis, differ the dots by sex

### Step G.4.10.  Create a box plot presenting the total_bill per day differetiation the time (Dinner or Lunch)

### Step G.4.11. Create two histograms of the tip value based for Dinner and Lunch. They must be side by side.

### Step G.4.12. Create two scatterplots graphs, one for Male and another for Female, presenting the total_bill value and tip relationship, differing by smoker or no smoker
### They must be side by side.

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise G.5. Titanic'></a>
## Exercise G.5. Titanic

### Step G.5.1. Import the necessary libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

### Step G.5.2. Import the dtaa form our dataset: "titanic.csv"

### Step G.5.3. Assign it to a variable titanic

### Step G.5.4. Set PassengerId as the index

### Step G.5.5. Create a pie chart presenting the male/female proportion

In [ ]:
# sum the instances of males and females
males = (titanic['Sex'] == 'male').sum()
females = (titanic['Sex'] == 'female').sum()

# put them into a list called proportions
proportions = [males, females]

# Create a pie chart
plt.pie(
    # using proportions
    proportions,
    
    # with the labels being officer names
    labels = ['Males', 'Females'],
    
    # with no shadows
    shadow = False,
    
    # with colors
    colors = ['blue','red'],
    
    # with one slide exploded out
    explode = (0.15 , 0),
    
    # with the start angle at 90%
    startangle = 90,
    
    # with the percent listed as a fraction
    autopct = '%1.1f%%'
    )

# View the plot drop above
plt.axis('equal')

# Set labels
plt.title("Sex Proportion")

# View the plot
plt.tight_layout()
plt.show()

### Step G.5.6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

In [ ]:
# creates the plot using
lm = sns.lmplot(x = 'Age', y = 'Fare', data = titanic, hue = 'Sex', fit_reg=False)

# set title
lm.set(title = 'Fare x Age')

# get the axes object and tweak it
axes = lm.axes
axes[0,0].set_ylim(-5,)
axes[0,0].set_xlim(-5,85)

### Step G.5.7. How many people survived?

### Step G.5.8. Create a histogram with the Fare payed

In [ ]:
# sort the values from the top to the least value and slice the first 5 items
df = titanic.Fare.sort_values(ascending = False)
df

# create bins interval using numpy
binsVal = np.arange(0,600,10)
binsVal

# create the plot
plt.hist(df, bins = binsVal)

# Set the title and labels
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.title('Fare Payed Histrogram')

# show the plot
plt.show()

[Return to the main menu](#Table of Contents)

***
***

<a id='Part H: Handling Time Series'></a>
# Part H: Handling Time Series

<a id='Exercise H.1. Apple Stock'></a>
## Exercise H.1. Apple Stock

### Step H.1.1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

%matplotlib inline

### Step H.1.2. Import the data from our dataset: "apple.csv"

### Step H.1.3. Assign it to a variable apple

### Step H.1.4.  Check out the type of the columns

### Step H.1.5. Transform the Date column as a datetime type

### Step H.1.6.  Set the date as the index

### Step H.1.7.  Is there any duplicate dates?

### Step H.1.8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

### Step H.1.9. Get the last business day of each month

In [ ]:
apple_month = apple.resample('BM').mean()

### Step H.1.10.  What is the difference in days between the first day and the oldest

### Step H.1.11.  How many months in the data we have?

### Step H.1.12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

[Return to the main menu](#Table of Contents)

***
***

<a id='Exercise H.2. Financial Data'></a>
## Exercise H.2. Financial Data

### Step H.2.1. Import the necessary libraries

In [ ]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step H.2.2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [ ]:
start = dt.datetime(2016, 1, 1)

end = dt.datetime.today()

start

### Step H.2.3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [ ]:
stocks = ['AAPL', 'TSLA', 'IBM', 'STX']

### Step H.2.4. Read the data from google, assign to df and print it

In [ ]:
import pandas_datareader.data as web
df = web.DataReader(stocks, 'google', start, end)
df

### Step H.2.5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step H.2.6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [ ]:
df.items

### Step H.2.7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

### Step H.2.8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [ ]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week.head()

### Step H.2.9. Find all the volume traded in the year of 2015

In [ ]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

[Return to the main menu](#Table of Contents)

***
***