# DAT-DEN-03 | Lab 08 - Home Extra | Intro to Classification

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import neighbors, metrics, grid_search, cross_validation

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

%matplotlib inline
plt.style.use('ggplot')

/Users/jg/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/jg/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
df = pd.read_csv(os.path.join('../..', 'datasets', 'boston.csv'))

In [3]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...   TAX  PTRATIO   BLACK  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...   296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...   242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...   242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...   222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...   222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
df.shape

(506, 14)

The Boston dataset concerns itself with housing values in suburbs of Boston.  A description of the dataset is as follows:

- CRIM: per capita crime rate by town
- ZN: proportion of residential land zoned for lots over 25,000 sqft
- INDUS: proportion of non-retail business acres per town
- CHAS: Charles River binary/dummy variable (= 1 if tract bounds river; 0 otherwise)
- NOX: nitric oxides concentration (parts per 10 million)
- RM: average number of rooms per dwelling
- AGE: proportion of owner-occupied units built prior to 1940
- DIS: weighted distances to five Boston employment centers
- RAD: index of accessibility to radial highways
- TAX: full-value property-tax rate (per ten thousands of dollars)
- PTRATIO: pupil-teacher ratio by town
- B: 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
- LSTAT: % lower status of the population
- MEDV: Median value of owner-occupied homes (in thousands of dollars)

### Question 1.  Let's first categorize `MEDV` to 4 groups:   
### Bottom 20% as Level 1,   
### next 30% as Level 2,   
### next 30% categorized as Level 3,   
### and the top 20% as Level 4.    
### Please create a new variable `MEDV_Category` that stores the level number

In [68]:
# TODO
df.MEDV.describe(percentiles=[.2, .5, .8])[3:]

min     5.0
20%    15.3
50%    21.2
80%    28.2
max    50.0
Name: MEDV, dtype: float64

In [102]:
level_1 = df.MEDV <= 15.3
level_2 = (df.MEDV >15.3) & (df.MEDV <= 21.2)
level_3 = (df.MEDV >21.2) & (df.MEDV <= 28.2)
level_4 = (df.MEDV >28.2) & (df.MEDV <= 50)

In [107]:
print(level_1.sum()),
print(level_2.sum()),
print(level_3.sum()),
print(level_4.sum())

102 154 149 101

In [109]:
df.columns

Index([u'CRIM', u'ZN', u'INDUS', u'CHAS', u'NOX', u'RM', u'AGE', u'DIS',
       u'RAD', u'TAX', u'PTRATIO', u'BLACK', u'LSTAT', u'MEDV'],
      dtype='object')

In [ ]:
i want to assign the number 1, 2, 3, 4 to values in df.MEDV

In [108]:
# 0 - 20%
# df[df.MEDV <= 15.3]

In [71]:
# 20 - 50%
# df[(df.MEDV >15.3) & (df.MEDV <= 21.2)]

In [72]:
# 50-80%
# df[(df.MEDV >21.2) & (df.MEDV <= 28.2)]

In [73]:
# 80 - 100%
# df[(df.MEDV >28.2) & (df.MEDV <= 50)]

In [74]:
MEDV_Category = ['level_1', 'level_2', 'level_3', 'level_4']

### Our goal is to predict `MEDV_Category` based on `RM`, `PTRATIO`, and `LSTAT`

### Question 2.  First normalize `RM`, `PTRATIO`, and `LSTAT` into the new variables `RM_s`, `PTRATIO_s`, and `LSTAT_s`.  By normalizing, we mean to scale each variable between 0 and 1 with the lowest value as 0 and the highest value as 1

In [75]:
# TODO
# df.RM
# df.PTRATIO
# df.LSTAT

### Question 3.  Run a KNN classifier with 5 nearest neighbors and report your misclassification error; set weights to uniform

In [ ]:
# TODO

Answer:

### Question 4.  Is this error reliable?

Answer:

### Question 5.  Now use 10-fold cross-validation to choose the most efficient `k`

In [ ]:
# TODO

### Question 6.  Explain your findings

Answer:

### Question 7.  Train your model with the optimal `k` you found above (don't worry if it changes from time to time - if that is the case use the one that is usually the best)

In [ ]:
# TODO

Answer:

### Question 8.  After training your model with that `k`, use it to predict the class of a neighborhood with `RM = 2`, `PRATIO = 19`, and `LSTAT = 3.5`

In [ ]:
# TODO

Answer: