In [4]:
import pandas as pd

In [5]:
airports_data = pd.read_csv('airports.csv')
airports_data.shape

(322, 7)

In [20]:
%store airports_data

Stored 'airports_data' (DataFrame)

In [6]:
airports_data.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [7]:
index = airports_data.IATA_CODE

# df.reindex(new_index)
re_indexed_airports = airports_data.reindex(columns=['IATA_CODE', 'AIRPORT', 'CITY','STATE','COUNTRY','LATITUDE','LONGITUDE'])
re_indexed_airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

Maybe using the apply method, we can add the map coordinates to this dataframe so that we can use it to call map coordinates.

In [11]:
airports_data[airports_data['IATA_CODE']=='ABI']

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.6819

In [17]:
def get_row(code):
    code = str(code)
    return airports_data[airports_data['IATA_CODE']==code]

In [19]:
get_row("ABY")

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447