In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.DataFrame([18, 24, 17, 21, 24, 16, 29, 18])

In [3]:
b = pd.DataFrame([75, 87, 49, 68,75, 84, 98, 92])

In [4]:
c = pd.DataFrame([55, 47, 38,66, 56, 64, 44, 39])

mean median, mode, min, max

# A

In [5]:
a.mean()

0    20.875
dtype: float64

In [6]:
a.min()

0    16
dtype: int64

In [7]:
a.max()

0    29
dtype: int64

In [8]:
a.mean()

0    20.875
dtype: float64

In [9]:
a.median()

0    19.5
dtype: float64

In [10]:
a.mode()

    0
0  18
1  24

# B

In [11]:
b.min()

0    49
dtype: int64

In [12]:
b.max()

0    98
dtype: int64

In [13]:
b.mean()

0    78.5
dtype: float64

In [14]:
b.median()

0    79.5
dtype: float64

In [15]:
b.mode()

    0
0  75

# C

In [16]:
c.min()

0    38
dtype: int64

In [17]:
c.max()

0    66
dtype: int64

In [18]:
c.mean()

0    51.125
dtype: float64

In [19]:
c.median()

0    51.0
dtype: float64

In [20]:
c.mode()

    0
0  38
1  39
2  44
3  47
4  55
5  56
6  64
7  66

In [24]:
c.quantile(.5)

0    51.0
Name: 0.5, dtype: float64

In [26]:
c.std()

0    10.776131
dtype: float64

In [27]:
c.var()

0    116.125
dtype: float64

In [28]:
c.describe()

               0
count   8.000000
mean   51.125000
std    10.776131
min    38.000000
25%    42.750000
50%    51.000000
75%    58.000000
max    66.000000